/* -------------------------------------------------------------------------- */

.ui-block-a {
	width: 50% !important;
}

.ui-block-b {
	width: 50% !important;
}

#fieldset-main>.ui-block-a {
	width: 20em !important;
}

#collapsible-network .ui-slider-switch, 
#collapsible-network .ui-input-text { 
	width: 90% !important;
	float: left !important;
}

#collapsible-webcam .ui-slider-switch /* .ui-input-combo .ui-input-text*/ { 
	width: 50% !important;
	float: right !important;
}

input[type=number]:invalid {
    background-color: #FFCCCC;
}

#collapsible-network textarea.ui-input-text, 
#collapsible-webcam textarea.ui-input-text {
	height: 15em !important;
	/*height: 100% !important;
	resize: none !important;
	overflow: auto !important;*/
}

.ui-collapsible {
	overflow: auto !important;
}

.inline-wrapper * {
	vertical-align: middle;
	display: inline;
}

.center-wrapper {
	text-align: center;
}

.center-wrapper * {
	margin: 0 auto;
}

.topleft-wrapper {
	text-align: left;
	padding-left: 2em;
	padding-top: 1em;
}

.topleft-wrapper * {
	vertical-align: top;
	display: inline;
}

/* -------------------------------------------------------------------------- */

/*
#close-webcam, #close-network {
	border: none !important;
	background: none !important;
}

image.bordered {
}

.inline-wrapper {
}

.fieldset {
}

form.panel label {
}

label.right {
}

.ui-input-text {
}

.panel-network .ui-block-a {
}

.panel-network .ui-block-b {
}

.panel-network .ui-slider-switch { 
}

form.panel input[type=text] {
}

#panel-webcam .ui-label { 
}
*/